<p id="notice" class="hide"><%= notice %></p>

<h3>Suites</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suites.each do |suite| %>
      <tr>
        <td><%= suite.name %></td>
        <td>
          <%= link_to 'Edit', edit_suite_path(suite), class: "btn blue" %>
          <%= link_to 'Edit Tasks', suite_tasks_path(suite), class: "btn light-blue darken-3" %>
          <%= link_to 'Delete', suite, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_suite_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="material-icons">add</i>
<% end %>
