<%= form_with(model: task, local: true) do |form| %>
  <div class="row">
    <div class="col s6 container">
      <div class="input-field">
        <%= form.text_field :title %>
        <%= label_tag(:title, "Title") %>
      </div>
      <div class="input-field">
        <%= form.select :language, @languages %>
        <%= label_tag(:language, "Language") %>
      </div>
      <div class="input-field">
        <%= form.text_field :time %>
        <%= label_tag(:time, "Time in minutes") %>
      </div>
      <div class="input-field">
        <%= form.text_area :description, class: "materialize-textarea", data: {preview: "description_preview"} %>
        <%= label_tag(:description, "Description") %>
      </div>

      <%= label_tag(:runtime, "Runtime (invisible code above)") %>
      <div id = "runtime_editor" data-input = "task_runtime" data-editor = "<%= @task.language || @languages.first %>" style="width: 100%; height: 400px;"></div>
      <%= form.hidden_field(:runtime) %>
      <br />

      <%= label_tag(:initial, "Initial (initial template seen by user)") %>
      <div id = "initial_editor" data-input = "task_initial" data-editor = "<%= @task.language || @languages.first %>" style="width: 100%; height: 400px;"></div>
      <%= form.hidden_field(:initial) %>
      <br />

      <%= label_tag(:initial_tests, "Initial tests") %>
      <div id = "initial_tests_editor" data-input = "task_initial_tests" data-editor = "<%= @task.language || @languages.first %>" style="width: 100%; height: 400px;"></div>
      <%= form.hidden_field(:initial_tests) %>
      <br />

      <%= label_tag(:tests, "Tests") %>
      <div id = "tests_editor" data-input = "task_tests" data-editor = "<%= @task.language || @languages.first %>" style="width: 100%; height: 400px;"></div>
      <%= form.hidden_field(:tests) %>
      <br />

      <% if task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="actions">
        <%= form.submit "Submit", class: "btn" %>
      </div>
      

    </div>
    <div class="col s6 container z-depth-2">
      <div id="description_preview" class="description-preview"></div>
    </div>
  </div>
<% end %>