<%= form_with(model: task, local: true) do |form| %>
  <div class="row">
    <div class="col s6 container">
      <div class="input-field">
        <%= form.text_field :title %>
        <%= label_tag(:title, "Title") %>
      </div>
      <div class="input-field">
        <%= form.select :language, [["Rust", 1], ["Javascript", 2]] %>
        <%= label_tag(:language, "Language") %>
      </div>
      <div class="input-field">
        <%= form.text_area :description, class: "materialize-textarea", oninput: "challenge.renderMarkdown(event.target.value, 'description_preview')" %>
        <%= label_tag(:description, "Description") %>
      </div>
      <div class="input-field">
        <%= form.text_area :tests, class: "materialize-textarea", rows: "20", oninput: "challenge.renderCode(event.target.value, 'tests_preview')" %>
        <%= label_tag(:tests, "Tests") %>
      </div>
      
      <% if task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="actions">
        <%= form.submit "Create", class: "btn" %>
      </div>
      
    </div>
    <div class="col s6 container z-depth-2">
      <div id="description_preview" class="description-preview"></div>
    </div>
    <div class="col s6 container z-depth-2">
      <div id="tests_preview" class="tests-preview"></div>
    </div>
  </div>
<% end %>