<p id="notice"><%= notice %></p>

<h3>Tasks</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.language %></td>
        <td>
          <%= link_to 'Edit', edit_task_path(task), class: "btn blue" %>
          <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_task_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="material-icons">add</i>
<% end %>
