<p id="notice" class="hide"><%= notice %></p>

<h3>Users</h3>

<table> 
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to 'Tests', user_suite_solutions_path(user), class: "btn green" %>
          <%= link_to 'Edit', edit_user_path(user), class: "btn blue" %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_user_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="material-icons">add</i>
<% end %>

