<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/rust.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/theme-monokai.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/mode-rust.js' %>  
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/mode-javascript.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/mode-swift.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/mode-java.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/mode-kotlin.js' %>
  </head>

  <body>
    <div class="background">
      <%= image_tag "backleft.png"%>
      <%= image_tag "backright.png", class: "right"%>
    </div>
    <div class="main-container">
      <% if is_admin %>
      <nav>
        <div class="nav-wrapper light-blue darken-1">
          <a href="/" class="brand-logo"><%= inline_svg "logo.svg"%></a>
          <ul id="nav-mobile" class="hide-on-med-and-down right">
            <li><a href="/profiles">Profiles</a></li>
            <li><a href="/suites">Suites</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          </ul>
        </div>
      </nav>
      <% elsif @with_navbar %>
      <nav>
        <div class="nav-wrapper light-blue darken-1">
          <a href="/" class="brand-logo"><%= inline_svg "logo.svg"%></a>
          <ul id="nav-mobile" class="hide-on-med-and-down right">
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          </ul>
        </div>
      </nav>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
